<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
        <!-- Navigation -->
        <nav style="height:20px;">
            <a class="brand" href="#">Admin Dashboard</a>
            <h2 style="color: white;" >Welcome, {{ session.username }}</h1>
            <div class="nav-links">
                <a href="admin_dashboard">My Job Postings</a>
                <a href="view_applications">Job Applications</a>
                <a href="{{ url_for('logout') }}" class="button">Logout</a>
            </div>
        </nav>

        <!-- Add Job Section -->
        <section class="job-posting">
            <h2>Add a New Job Posting</h2>
            <form action="{{ url_for('add_job') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.title(placeholder="Job Title", required=true) }}
                {% if form.title.errors %}
                    <span class="error">{{ form.title.errors[0] }}</span>
                {% endif %}
                {{ form.description(placeholder="Job Description", rows="5", required=true) }}
                {% if form.description.errors %}
                    <span class="error">{{ form.description.errors[0] }}</span>
                {% endif %}
                <button type="submit">Add Job</button>
            </form>
        </section>

        <!-- Job Postings -->
        <section class="job-posting">
            <h2>My Job Postings</h2>
            {% if job_postings %}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                {% for job in job_postings %}
                <tr>
                    <td>{{ job[1] }}</td>
                    <td>{{ job[2] }}</td>
                    <td>
                        <form action="{{ url_for('admin_login') }}" method="post" style="display:inline-block;">
                            {{ edit_form.hidden_tag() }}
                            <button type="submit" class="button">Update</button>
                        </form>

                        <a href="{{ url_for('delete_job', job_id=job[0]) }}" class="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </section>


        <!-- Job Applications -->
        <section class="job-posting">
            <h2>Job Applications</h2>
            {% if job_applications %}
            <table>
                <tr>
                    <th>Job Title</th>
                    <th>Applicant Name</th>
                    <th>Email</th>
                    <th>Resume</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
                {% for application in job_applications %}
                <tr>
                    <td>{{ application.job_title }}</td>
                    <td>{{ application.name }}</td>
                    <td>{{ application.email }}</td>
                    <td><a href="{{ url_for('static', filename='resumes/' ~ application.resume) }}" target="_blank">View</a></td>
                    <td>
                        <form action="{{ url_for('update_status', application_id=application.id) }}" method="post">
                            {{ status_form.hidden_tag() }}
                            {{ status_form.status() }}
                        </form>
                    </td>
                    <td>
                        <button type="submit" class="button">Update</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </section>

</body>
</html>
